@charset "UTF-8";

* {
    padding: 10;
    margin: 5;
    font-family: 'Times New Roman', Times, serif
}

.formInstruction {
    display: grid;
    width: 150px;
}

input, label {
    padding: 1px;
}

.result {
    padding-top: 10px;
}
